<!doctype html>
<html lang="ko">

<head>
  <%-include('./layout/import_head')%>
    <link rel="stylesheet" href="./stylesheets/mypage_user.css">
</head>

<body>
  <!-- <%-include('./layout/header_mypage')%> -->
  <nav class="navbar navbar-expand-lg navbar-light position-fixed header">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/"><img src="/images/logo-dark.png" alt="logo" style="width:220px;"
          id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav" id="nav-items">
        
          <li class="nav-item dropdown" style="text-align: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
              <%=adminSession.name%>
            </button>
            <% if (admin) { %>
              <ul class="dropdown-menu dropdown-menu-end dropdownBox" aria-labelledby="dropdownMenuButton1" id="dropdown" style="position: absolute;">
                <li><a class="dropdown-item dropdownItems" href="/mypage">회원정보 수정</a></li>
                <li><a class="dropdown-item dropdownItems" href="/locker">사물함 생성</a></li>
                <li><a class="dropdown-item dropdownItems" href="/locker_list_for_admin">사물함 내역</a></li>
              </ul>
            <% } %>
          </li>
          <li class="navbar-item"><a class="nav-link text-light" href="/logout" style="text-align: right;">로그아웃</a></li>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="Container">
    <h1>사물함 내역</h1>
    <% for(let i = 0; i < info.length; i++) { %>
    <form class="mb-3">

      <h2 class="" style="margin-top: 24px;">&nbsp;<%= i+1 %></h2>
      <hr style="margin-top: 0px;">
      <div class="card text-dark bg-light mb-3">
        <div class="card-body" id="card-body">
          <h5 class="card-title">사물함 이름</h5>
          <p class="card-text"><%=info[i].lockername%></p>
          <h5 class="card-title">위치</h5>
          <p class="card-text"><%=info[i].building%></p>
          <h5 class="card-title">공지사항</h5>
          <p class="card-text"><%=info[i].notice%></p>
        </div>
      </div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-color-orange" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="<%=info[i].lockername%>" style="float: right;">
        사물함 수정
      </button>
    
    
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="lockerName"><%=info[i].lockername%></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label class="form-label">사용자에게 전할 공지사항</label>
                <button type="button" class="btn btn-outline-warning btn-sm" style="float: right;" onclick="changeNotice()">공지사항 변경</button>
                <label class="form-text" id="noticechangeHelp1" style="float: right;">수정 후 변경 버튼 꾹!&nbsp;</label>
                <label class="form-text" id="noticechangeHelp2" style="color: green; float:right; display:none;">공지사항 변경 완료!&nbsp;</label>
                <textarea class="form-control" id="noticeChange" name="noticeChange" rows="3" onkeydown="resetNotice()"></textarea>
              </div>
              <table class="table" id="adminTable"></table>
              <div class="mb-3">
                <label class="form-text">사물함 색상별 의미 :&nbsp;</label>
                <label class="form-text" style="color: #0d6efd;">사용 가능&nbsp;</label>
                <label class="form-text" style="color: #ffc107;">선택 됨&nbsp;</label>
                <label class="form-text" style="color: #198754;">사용 중&nbsp;</label>
                <label class="form-text" style="color: #adb5bd;">사용 불가능</label>
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="changeLockerNO()" style="float: right;">사용 불가능으로 변경</button>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="changeLockerYES()" style="float: right; margin-right: 5px;">사용 가능으로 변경</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-color-orange" onclick="deleteLocker()">사물함 영구 삭제</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
    
    </form>
    <% } %>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="./javascripts/print_locker.js"></script>
</body>

</html>