<!doctype html>
<html lang="ko">

<head>
  <%-include('./layout/import_head')%>
  <link rel="stylesheet" href="./stylesheets/mypage_user.css">
</head>

<body>
  <%-include('./layout/header_mypage')%>
    <div class="Container">
      <%-include('./layout/change_profile_photo')%>
      <form id="deleteAccountForm" method="POST" action="/deleteProcessForAdmin">
        <h5>
          정보
        </h5>
        <hr>
        <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
          <div class="card-body" id="card-body">
            <h5 class="card-title">이름</h5>
            <p class="card-text"><%=adminInfo.name%></p>
            <h5 class="card-title">이메일</h5>
            <p class="card-text"><%=adminInfo.email%></p>
            <h5 class="card-title">학번</h5>
            <p class="card-text"><%=adminInfo.adminid%></p>
            <h5 class="card-title">연락처</h5>
            <p class="card-text"><%=adminInfo.phonenum%></p>
            <h5 class="card-title">소속</h5>
            <p class="card-text"><%=adminInfo.team%></p>
          </div>
        </div>
        <%-include('./layout/change_profile')%>
      </form>

    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="./javascripts/register.js"></script>
    <!-- <script src="./javascripts/cardbody.js"></script> -->
    <script src="./javascripts/nav_items.js"></script>
    <script src="./javascripts/dropdown.js"></script>
</body>

</html>