<!doctype html>
<html lang="ko">

<head>
  <%-include('./layout/import_head')%>
    <link rel="stylesheet" href="./stylesheets/mypage_user.css">
</head>

<body>
  <!-- <%-include('./layout/header_mypage')%> -->
  <nav class="navbar navbar-expand-lg navbar-light position-fixed header">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/"><img src="/images/logo-dark.png" alt="logo" style="width:220px;"
          id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-items">
        </ul>
        <div class="dropdown" style="text-align: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            마이페이지
          </button>
          <% if (user) { %>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown">
              <li><a class="dropdown-item" href="#"><b><%=info.name%></b></a></li>
              <li><a class="dropdown-item" href="/mypage">회원정보 수정</a></li>
              <li><a class="dropdown-item" href="/locker">사물함 신청</a></li>
              <li><a class="dropdown-item" href="/locker">사물함 관리</a></li>
            </ul>
            <% } %>
              <% if (admin) { %>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown">
                  <li><a class="dropdown-item" href="#"><b><%=info.name%></b></a></li>
                  <li><a class="dropdown-item" href="/mypage">회원정보 수정</a></li>
                  <li><a class="dropdown-item" href="/locker">사물함 생성</a></li>
                  <li><a class="dropdown-item" href="/locker">사물함 관리</a></li>
                </ul>
                <% } %>
        </div>
        <span class="navbar-text text-light register">
          <a class="nav-link active text-light" aria-current="page" href="/logout" style="text-align: right;">로그아웃</a>
        </span>
      </div>
    </div>
  </nav>

  <div class="Container">
    <%-include('./layout/change_profile_photo')%>
      <% if (user) { %>
        <form id="deleteAccountForm" method="POST" action="/deleteProcessForUser">
      <% } %>
      <% if (admin) { %>
        <form id="deleteAccountForm" method="POST" action="/deleteProcessForAdmin">
      <% } %>
          <h5>
            정보
          </h5>
          <hr>
          <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
            <div class="card-body" id="card-body">
              <h5 class="card-title">이름</h5>
              <p class="card-text"><%=info.name%></p>
              <h5 class="card-title">이메일</h5>
              <p class="card-text"><%=info.email%></p>
              <h5 class="card-title">학번</h5>
              <p class="card-text"><%=info.id%></p>
              <h5 class="card-title">연락처</h5>
              <p class="card-text"><%=info.phonenum%></p>
              <h5 class="card-title">소속</h5>
              <p class="card-text"><%=info.team%></p>
            </div>
          </div>
          <div class="user_info">
            <button type="button" id="deleteAccountBtn" class="btn btn-color-orange" data-bs-toggle="modal"
            data-bs-target="#deleteAccount">회원탈퇴</button> 
            
            <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">회원탈퇴 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body" style="text-align: center;">
                    <p>회원 탈퇴하시겠습니까?</p>
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-color-orange">회원탈퇴</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        
          <!--<%-include('./layout/change_profile')%> !-->
          <% if (user) { %>
            <form method="POST" action="/updateProcessForUser">
          <% } %>
          <% if (admin) { %>
            <form method="POST" action="/updateProcessForAdmin">
          <% } %>
            <div class="change-pwd">
              <h5>비밀번호 변경하기</h5>
              <hr>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >비밀번호</label>
                <label id="passwordHelp1" class="form-text">8자 이상 입력</label>
                <input type="password" class="form-control" id="password1" name="password"
                  onkeyup="checkPassword(); checkPasswordAgain()">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">비밀번호 확인</label>
                <label id="passwordHelp2" class="form-text" style="color: green; display:none;">동일합니다</label>
                <label id="passwordHelp3" class="form-text" style="color: red; display:none;">동일하지 않습니다</label>
                <input type="password" class="form-control" id="password2" onkeyup="checkPasswordAgain()">
              </div>
              <button type="submit" class="btn btn-color-orange">변경</button>
            </div>
          </form>
          
          <div class="reservation">
            <h5>예약 확인</h5>
            <hr>
            <div id="reservationCard" class="card text-dark bg-light mb-3" style="max-width: 25rem;">
              <div class="card-body">
                <h5 class="card-title">대양AI센터</h5>
                <p class="card-text">서울 광진구 능동로 209</p>
                <p class="card-text">N층 N-N자리</p>
                <p class="card-text"><b>비밀번호: 1234</b></p>
              </div>
            </div>
            
            <!-- Button trigger modal -->
            <button type="button" id="cancelBtn" class="btn btn-color-orange" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              예약 취소</button>
  
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">예약을 취소하시겠습니까?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h5 class="card-title">대양AI센터</h5>
                    <p class="card-text">서울 광진구 능동로 209</p>
                    <p class="card-text">N층 N-N자리</p>
                    <p class="card-text"><b>비밀번호: 1234</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      onclick="cancelReservation()">네</button>
                    <button type="button" class="btn btn-color-orange" data-bs-dismiss="modal">아니오</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 예약 내역이 없거나 예약 취소 후  예약 내역 칸에 띄울 버튼-->
            <a href="/locker" class="btn btn-color-orange" id="reserveBtn" style="width: 77.09;">예약하러 가기</a>
          </div>

  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="./javascripts/register.js"></script>
  <script src="./javascripts/mypage.js"></script>
  <!-- <script src="./javascripts/cardbody.js"></script> -->
  <script src="./javascripts/nav_items.js"></script>
  <!-- <script src="./javascripts/dropdown.js"></script> -->
</body>

</html>